.header{
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}
.logo {
  color: mediumaquamarine;
  flex-grow: 1;
  display: flex;
  padding: 10px;
  padding-left: 30px;
}
.logo h3 {
  padding-left: 15px;
}
nav {
  display: inline-block;
  justify-content: space-around;
  width: 300px;
  align-content: flex-end;
  padding: 20px;
  position: static;
  margin: 0px auto;
}
nav a{
  padding: 10px;
  color: black;
}
.main.container{
  border: 1px solid black;
  display: flex;
}
.column.large{
  display: flex;
  width: 640px;
  border: 2px solid black;
  flex-direction: column;
}
.column.medium{
  display: flex;
  width: 300px;
  border: 2px solid black;
  flex-direction: column;
}
.column.small{
  display: flex;
  width: 240px;
  border: 1px solid black;
  flex-direction: column;
}
